---
layout: default
firstsection: "#info"

images:
  -
    file: shoot-1
    alt: Fotoshoot Aufnahme (von schräg unten)
    caption: Fotoshoot Aufnahme
    author: Niklas Rothhanns
  -
    file: shoot-2
    alt: Fotoshoot Aufnahme (von vorne)
    caption: Fotoshoot Aufnahme
    author: Niklas Rothhanns
  -
    file: werkstatt-1
    alt: Konzert im Probenraum
    caption: Konzert im Probenraum
    author: unkown
  -
    file: jazztage2015-1
    alt: Gruppenbild beim Auftritt Jazztage 2015
    caption: Funk Force 5 auf den Jazztagen 2015
    author: Dietmar Schorn
  -
    file: jazztage2015-2
    alt: Nils Buchna am Schlagzeug, Jazztage 2015
    caption: Nils Buchna am Schlagzeug, Jazztage 2015
    author: Dietmar Schorn
  -
    file: jazztage2015-3
    alt: Bild einer aufnehmenden Videokamera Jazztage 2015
    caption: Publikum filmt Auftritt Jazztage 2015
    author: Niklas Rothhanns
  -
    file: jazztage2015-4
    alt: Nathalie Krautgartner beim Singen Jazztage 2015
    caption: Nathalie Krautgartner live in action, Jazztage 2015
    author: Dietmar Schorn
  -
    file: jazztage2015-5
    alt: Gruppenbild von vorne Jazztage 2015
    caption: Funk Force 5 auf der Bühne, Jazztage 2015
    author: Dietmar Schorn
---

<!-- Info Section -->
<section id="info" class="bg-light-gray ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Nächste Termine</h1>
      </div>
    </div>

    <div class="container-fluid event srgroup" data-removeon="2016-06-05T22:00:00.000Z">
      <div class="row sreveal">
        <div class="col-lg-12 text-center">
          <h2>Jazztage Düren</h2>
        </div>
      </div>

      <div class="info-text row sreveal">
        <div class="col-lg-12 text-center">
          <i class="fa fa-location-arrow fa-fw"></i> Hauptbühne Kaiserplatz Düren
        </div>
      </div>

      <div class="info-text row sreveal">
        <div class="col-lg-12 text-center">
          <i class="fa fa-calendar fa-fw"></i> 5. Juni <i class="fa fa-clock-o fa-fw"></i> 12:00
        </div>
      </div>
    </div>

    <div class="info-text row">
      <div class="col-lg-12 text-center">
        Für mehr Infos: <a href="{{ site.facebook_url }}" class="facebook">Facebook</a>
      </div>
    </div>


    <div class="row text-center">
      <a href="#music" class="page-scroll btn btn-next">
        <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>

<!-- Music Section -->
<section id="music">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Unsere Musik</h1>
        <h2 class="section-subheading text-muted"></h2>
      </div>
    </div>

    <div class="row text-center srgroup">
      <div class="col-xs-12 col-sm-6 col-md-4 sreveal">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                </span>
        <h3 class="music-heading">Wir lieben</h3>
        <p class="text-muted">alles was groovt! Funk, Soul und Disco sind unsere Leidenschaft und der Grund warum wir einmal pro Woche alles stehen und liegen lassen um an unserem Sound zu feilen!</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 sreveal">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                </span>
        <h3 class="music-heading">Wir spielen</h3>
        <p class="text-muted">Musik von Künstlern, die viele noch aus ihrer Kindheit kennen. Bis zurück in die 70er sind wir ständig auf der Suche nach neuen Songs für unser Repertoire!</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-offset-0 col-md-4 sreveal">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
        <h3 class="music-heading">Wir bieten</h3>
        <p class="text-muted">Unterhaltung, Leidenschaft und musikalisches Können. Ob für ruhige Abende oder die ganz große Bühne: wir haben die richtigen Songs!</p>
      </div>
    </div>

    <div class="row text-center sreveal">
      <div class="col-lg-12 text-center">
        <h2 class="section-subheading text-muted">Hört selbst. Hier eine kleine Auswahl, viel Spaß!</h2>
      </div>
    </div>

    <div class="row text-center sreveal">
      <div class="col-lg-offset-1 col-lg-10">
        <iframe width="100%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/112959084&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      </div>
    </div>

    <div class="row text-center">
      <a href="#gallery" class="page-scroll btn btn-next">
        <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>

{% include gallery.html %}

<!-- Repertoire Section -->
<section id="repertoire">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Repertoire</h1>
        <h2 class="section-subheading text-muted">Ein kleiner Auszug unseres ständig wachsenden Repertoires</h2>
      </div>
    </div>

    <div class="row">
      {% include repertoire.html %}
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".repertoire-more" aria-expanded="false" aria-controls=".repertoire-more">
          ... mehr!
        </button>
      </div>
    </div>

    <div class="row text-center">
      <a href="#band" class="page-scroll btn btn-next">
        <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>

<!-- Band Section -->
<section id="band" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Die Band</h1>
        <h2 class="section-subheading text-muted">Wer spielt da eigentlich? Mehr gibt's auch auf <a href="{{ site.facebook_url }}" class="facebook">Facebook</a>!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sreveal">
        <div class="band-member">
          <img src="img/band/nathalie.jpg" class="img-responsive img-circle" alt="">
          <h3>Nathalie Krautgartner</h3>
          <p class="text-muted">Lead Vocals</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="band-member sreveal">
          <img src="img/band/christoph.jpg" class="img-responsive img-circle" alt="">
          <h3>Christoph Schorn</h3>
          <p class="text-muted">Keys</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="band-member sreveal">
          <img src="img/band/lukas.jpg" class="img-responsive img-circle" alt="">
          <h3>Lukas Hayter</h3>
          <p class="text-muted">Guitar / Vocals</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-2 col-sm-4">
        <div class="band-member sreveal">
          <img src="img/band/dustin.jpg" class="img-responsive img-circle" alt="">
          <h3>Dustin Gooßens</h3>
          <p class="text-muted">Bass</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="band-member sreveal">
          <img src="img/band/nils.jpg" class="img-responsive img-circle" alt="">
          <h3>Nils Buchna</h3>
          <p class="text-muted">Drums / Vocals</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted">Wir sind fünf leidenschaftliche Musiker, die jahrelange Band- und Bühnenerfahrung aus verschiedensten Projekten vereinen um Funk, Soul und Disco Musik zu machen, die jeden begeistert.</p>
      </div>
    </div>

    <div class="row text-center">
      <a href="#bio" class="page-scroll btn btn-next">
        <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>

<!-- Bio Section -->
<section id="bio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Biografie</h1>
        <h2 class="section-subheading text-muted">Fünf junge Leute spielen Disco Musik? Wie konnte das denn passieren?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li class="sreveal">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/timeline/questionmark.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3>Ende 2013</h3>
                <h4 class="subheading">Unsere Entstehung</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Unsere Schulzeit ging zu Ende und so auch die Ära zahlreicher Schulmusik Projekte. Also was tun? Während einer letzten gemeinsamen Konzertreise mit der GaW Bigband entsprang die Idee, eine ganz eigene Band zu gründen.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted sreveal">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/timeline/ff5-logo-mini.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3>Anfang 2014</h3>
                <h4 class="subheading">Funk? Covern? Eigene Songs?</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Anfangs noch zu viert in einem Wohnzimmer starteten wir mit eigenen Songs. Schnell war klar: es muss grooven. Warum gibt es davon bloß so viel geile Funk Musik? Und Tanzen kann man dazu auch noch... Perfekt!</p>
              </div>
            </div>
          </li>
          <li class="sreveal">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/timeline/erstkonzert.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3>"Irgendwann" 2014</h3>
                <h4 class="subheading">Gründungskonzert</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Nach dem erfolgreichen ersten Konzert für Freunde und Bekannte war das Bestehen dann gefestigt. Der "feel good" Charakter von Funk, Soul und Disco reißt einfach jeden mit! Es wird Zeit noch weiter am Sound zu feilen...</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted sreveal">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/timeline/jazztage2015.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3>August 2015</h3>
                <h4 class="subheading">Jazztage Düren</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Eine besondere Ehre für eine noch so neue Band: ein Konzert auf der Jazztage Düren Hauptbühne! Trotz Regen kamen knapp 300 begeisterte Zuhörer zusammen. Was ein Auftritt!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted sreveal">
            <a href="{{ site.facebook_url }}">
              <div class="timeline-image last">
                <h3>Folgt
                  <br>uns auf
                  <br><i class="fa fa-lg fa-facebook-official" aria-hidden="true"></i>
                </h3>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row text-center">
      <a href="#contact" class="page-scroll btn btn-next">
        <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Schreibt uns</h1>
        <h2 class="section-subheading sreveal">
          Hier oder direkt an <a class="contact-mail"></a>!
          <br><br>
          Telefon: <a class="contact-phone"></a>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group sreveal">
                <input type="text" class="form-control" placeholder="Ihr Name *" id="name" required data-validation-required-message="Bitte Ihren Namen angeben.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group sreveal">
                <input type="email" class="form-control" placeholder="Ihre Email-Addresse *" id="email" required data-validation-required-message="Bitte Ihre Email-Adresse angeben.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group sreveal">
                <!--required data-validation-required-message="Please enter your phone number."-->
                <input type="tel" class="form-control" placeholder="Ihre Telefonnr." id="phone">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group sreveal">
                <textarea class="form-control" placeholder="Ihre Nachricht *" id="message" required data-validation-required-message="Bitte eine Nachricht angeben."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button type="submit" class="btn btn-xl ">Senden</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

