<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; {{ site.copyrightyear }}. Funk Force 5.</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li>
            <a href="http://www.facebook.com/FunkForce5/"><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li>
            <a href="/impressum">Impressum</a>
          </li>
          <li>
            <a href="/datenschutz">Datenschutz</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<a href="#page-top" class="backtotop page-scroll"><i class="fa fa-2x fa-chevron-up" aria-hidden="true"></i></a>
