<header>
  <div class="container-fluid">
    <div class="intro-text">
      <div class="intro-lead-in" {% if page.error404 %}style="visibility: hidden"{% endif %}>Willkommen bei</div>
      <div class="intro-heading">{% if page.error404 %}404 Error{% else %}{{site.title}}{% endif %}</div>
      <a href="{{ include.firstsection }}" class="page-scroll btn btn-next header" {% if page.error404 %}style="visibility: hidden"{% endif %}><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
</header>