<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Forget Me Nots</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Patrice Rushen</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Boogie Oogie Oogie</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> A Taste Of Honey</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Upside Down</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Diana Ross</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Boogie Nights</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Heatwave</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Cosmic Girl</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Jamiroquai</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Isn't She Lovely</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Stevie Wonder</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> I'm Coming Out</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Diana Ross</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Rehab</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Amy Winehouse</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Gravel Pit</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Wu-Tang Clan</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> I Want You Back</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Jackson 5</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Something About Us</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Daft Punk</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Funky Town</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Lipps Inc</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Green Onions</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Booker T. & The MG’s</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Material Girl</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Madonna</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Everybody Dance</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Chic</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Let's Dance</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> David Bowie</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Just The Two Of Us</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Bill Withers, Grover Washington</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> I'm So Excited</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Pointer Sisters</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Kiss</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Prince</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 sreveal">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> September</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Earth, Wind & Fire</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Lady Marmalade</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> LaBelle</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Night Fever</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Bee Gees</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Come Together</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> The Beatles</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Hey Ya!</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> OutKast</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Don't Leave Me This Way</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Thelma Houston</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> I Will Survive</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Gloria Gaynor</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Ain't No Mountain High Enough</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Marvin Gaye, Tammi Terrel</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Don't Know Why</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Norah Jones</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Ain't Nobody</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Chaka Khan</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Tainted Love</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Gloria Jones</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Fallin'</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Alicia Keys</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Ring My Bell</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Anita Ward</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Good Times</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Chic</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Disco Inferno</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> The Trammps</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Sing It Back</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Moloko</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Aeroplane</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Red Hot Chili Peppers</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Back To Black</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Amy Winehouse</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Roxanne</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> The Police</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Higher Ground</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Stevie Wonder</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Ain’t No Sunshine</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Bill Withers</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Teardrops</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Womack & Womack</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Gimme! Gimme! Gimme!</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Nils Landgren Funk Unit</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Virtual Insanity</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Jamiroquai</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Pure Imagination</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Gene Wilder (Willy Wonka)</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Valerie</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Amy Winehouse</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Superstition</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Stevie Wonder</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Use Me</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Bill Withers</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Heavy Cross</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Gossip</li>
    </ul>
</div>

<div class="col-sm-3 col-xs-6 repertoire-more collapse">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-music fa-fw"></i> Crying At The Discoteque</li>
        <li class="list-group-item"><i class="fa fa-group fa-fw"></i> Alcazar</li>
    </ul>
</div>