// Variables

$navbar-bg: rgba(170, 170, 170, 0.5);
$brand-primary: #0066cc;
$brand-danger: #e74c3c;
$gray-darkest: #222;
$gray: #777;
$gray-lighter: #f7f7f7;
$placeholder-text: #bbbbbb;
$shadow-color: #000000;
$shadow-brand-home: #b9b9b9;
$next-button: #ffffff;
